/*--------- Abstracts variable ---------- */
.my-account-nav {
  display: grid;
  border: 1px solid var(--line);
  border-radius: 12px;
  overflow: hidden;
}
.my-account-nav .link-account {
  padding: 20px;
  color: var(--text-2);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.my-account-nav .link-account .icon {
  font-size: 24px;
}
.my-account-nav .link-account:hover, .my-account-nav .link-account.active {
  background: var(--bg);
  color: var(--text);
}
.my-account-nav .link-account:not(:last-child) {
  border-bottom: 1px solid var(--line);
}
.my-account-nav .link-account:first-child {
  border-radius: 12px 12px 0px 0px;
}
.my-account-nav .link-account:last-child {
  border-radius: 0px 0px 12px 12px;
}

.my-account-content .account-title {
  margin-bottom: 20px;
}

.acount-order_stats {
  margin-bottom: 20px;
}
.acount-order_stats .order-box {
  border: 1px solid var(--line);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  border-radius: 8px;
}
.acount-order_stats .order_icon {
  font-size: 40px;
}
.acount-order_stats .info__label {
  margin-bottom: 4px;
}
@media (min-width: 1440px) {
  .acount-order_stats .order-box {
    padding: 27px;
  }
}
@media (max-width: 767px) {
  .acount-order_stats {
    margin-bottom: 30px;
  }
}

.account-my_recent {
  padding: 27px 27px 12px;
  border: 1px solid var(--line);
  border-radius: 8px;
}
.account-my_recent .title-case {
  margin-bottom: 20px;
}

.table-my_recent {
  white-space: nowrap;
}
.table-my_recent thead tr {
  border-bottom: 1px solid var(--line);
}
.table-my_recent th {
  font-weight: 500;
  padding-bottom: 5px;
}
.table-my_recent td {
  padding-top: 12px;
  padding-bottom: 11px;
}
.table-my_recent tr {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.table-my_recent tr:first-child td {
  padding-top: 20px;
}
.table-my_recent tr:not(:last-child) {
  border-bottom: 1px solid var(--line);
}
.table-my_recent tr:last-child td {
  padding-bottom: 0;
}
.table-my_recent th:first-child,
.table-my_recent td:first-child {
  width: 80px;
}
.table-my_recent th:nth-child(2),
.table-my_recent td:nth-child(2) {
  width: 300px;
}
.table-my_recent th:nth-child(3),
.table-my_recent td:nth-child(3) {
  width: 80px;
}
.table-my_recent th:nth-child(4),
.table-my_recent td:nth-child(4) {
  width: 90px;
}
.table-my_recent.order_recent th:last-child,
.table-my_recent.order_recent td:last-child {
  width: unset;
}
@media (min-width: 1440px) {
  .table-my_recent {
    table-layout: fixed;
  }
}
@media (min-width: 1440px) {
  .table-my_recent td {
    vertical-align: middle;
  }
}

.tb-order_product {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tb-order_product .prd_select {
  display: flex;
  gap: 8px;
}
.tb-order_product .prd_name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.tb-order_product .img-prd {
  max-width: 48px;
  border-radius: 4px;
  overflow: hidden;
}
.tb-order_product .img-prd img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.tb-order_product .prd_select {
  display: flex;
  align-items: center;
  color: var(--text);
}

.tb-order_status {
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  font-weight: 600;
  border-radius: 24px;
}
.tb-order_status.stt-completed {
  background: rgba(61, 171, 37, 0.1019607843);
  color: #3DAB25;
}
.tb-order_status.stt-pending {
  background: rgba(236, 176, 24, 0.1019607843);
  color: #F0A750;
}
.tb-order_status.stt-delivery {
  background: rgba(134, 132, 212, 0.1019607843);
  color: #8684D4;
}
.tb-order_status.stt-canceled {
  background: rgba(219, 68, 68, 0.1019607843);
  color: #DC4646;
}

.wg-my-order {
  border: 1px solid var(--line);
  border-radius: 8px;
}
.wg-my-order .order-heading {
  padding: 19px 20px;
  border-bottom: 1px solid var(--line);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.wg-my-order .order_number,
.wg-my-order .order_status {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wg-my-order .order-content {
  display: grid;
  gap: 20px;
  padding: 20px;
  padding-top: 19px;
}
.wg-my-order .order_prd_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--line);
}
.wg-my-order .order_prd_item .prd__info {
  flex: 1;
}
.wg-my-order .order_prd_item .prd__image {
  border-radius: 8px;
  overflow: hidden;
  max-width: 100px;
}
.wg-my-order .order_prd_item .prd__image img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wg-my-order .order_prd_item .prd__info .name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.wg-my-order .order_prd_item .prd__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  flex-wrap: wrap;
}
.wg-my-order .group-btn {
  display: flex;
  gap: 12px;
}
@media (min-width: 1200px) {
  .wg-my-order .action-order {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.account-my_order .tab-btn-wrap-v1 {
  margin-bottom: 24px;
}

.account-my_address {
  padding: 20px 15px;
  border: 1px solid var(--line);
  border-radius: 12px;
}
.account-my_address .btn-action-submit {
  margin-top: 28px;
}
@media (min-width: 1200px) {
  .account-my_address {
    padding: 27px;
  }
}

.account-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.account-avatar .avatarPreview {
  border-radius: 4px;
  overflow: hidden;
}
.account-avatar .upload-wrapper {
  padding: 7px 11px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 4px;
  border: 1px solid var(--line);
}
.account-avatar .upload-btn {
  padding: 4px 12px;
  background: var(--line);
}

/* ---------------------------------------------------------
    * Name: Amerce - Multipurpose eCommerce HTML Template
    * Version: 1.0.2
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Core CSS

    * Components
 ------------------------------------------------------------------------------ */
