/*--------- Abstracts variable ---------- */
.ic-accordion-custom {
  position: relative;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s linear;
  flex-shrink: 0;
}
.ic-accordion-custom::after, .ic-accordion-custom::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
}
.ic-accordion-custom::before {
  height: 100%;
  width: 2px;
}
.ic-accordion-custom::after {
  height: 2px;
  width: 100%;
}
.ic-accordion-custom.cl-2::after, .ic-accordion-custom.cl-2::before {
  background-color: var(--text);
}

.accordion-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  gap: 12px;
}
.accordion-action .icon::before {
  transform: rotate(90deg);
}
.accordion-action .icon::after {
  transform: rotate(180deg);
}
.accordion-action .ic-ar {
  display: block;
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordion-action.collapsed {
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.accordion-action.collapsed .ic-ar {
  transform: rotate(0deg);
}
.accordion-action.collapsed .icon::before {
  transform: rotate(0deg);
}
.accordion-action.collapsed .icon::after {
  transform: rotate(0deg);
}
@media (max-width: 991px) {
  .accordion-action {
    padding-top: 20px;
  }
  .accordion-action.collapsed {
    padding-bottom: 20px;
  }
}

.product-accordion-item .desc-list {
  display: grid;
  gap: 24px;
  max-width: 548px;
  width: 100%;
}
.product-accordion-item .desc-list .desc_title {
  color: var(--primary);
  margin-bottom: 8px;
}

.prd-desc-accordion .accordion-action {
  border-bottom: 1px solid var(--line);
  margin-bottom: 0;
  padding-bottom: 19px;
}
.prd-desc-accordion .accordion-action:not(.collapsed) {
  border-color: var(--text);
  margin-bottom: 20px;
}
.prd-desc-accordion .tab-review .rating-progress-list {
  width: 100%;
}
.prd-desc-accordion .tab-review .rating-progress-list .progress {
  width: 100%;
}

.faq-accordion_item {
  background: var(--bg);
  border-radius: 12px;
}
.faq-accordion_item .accordion-action,
.faq-accordion_item .faq-content {
  padding-left: 28px;
  padding-right: 28px;
}
.faq-accordion_item .accordion-action {
  padding-top: 24px;
}
.faq-accordion_item .accordion-action.collapsed {
  padding-top: 24px;
  padding-bottom: 24px;
}
.faq-accordion_item .accordion-action:not(.collapsed) {
  margin-bottom: 12px;
}
.faq-accordion_item .faq-content {
  padding-bottom: 24px;
}
@media (max-width: 991px) {
  .faq-accordion_item .accordion-action,
  .faq-accordion_item .faq-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-accordion_item .accordion-action {
    padding-top: 20px;
  }
  .faq-accordion_item .accordion-action.collapsed {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq-accordion_item .accordion-action:not(.collapsed) {
    margin-bottom: 20px;
  }
  .faq-accordion_item .faq-content {
    padding-bottom: 20px;
  }
}

.accordion-item_v2 .accordion-action {
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--line);
}
.accordion-item_v2 .accordion-action:not(.collapsed) {
  margin-bottom: 16px;
  border-color: var(--text);
}
.accordion-item_v2 .faq-content {
  padding-bottom: 16px;
}
.accordion-item_v2.style-2 .accordion-action {
  padding-top: 20px;
  padding-bottom: 20px;
}
.accordion-item_v2.style-2 .accordion-action:not(.collapsed) {
  margin-bottom: 20px;
}
.accordion-item_v2.style-2 .accordion-content {
  margin-bottom: 24px;
}

.accordion-faq .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--text);
  border-color: var(--text);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  flex-shrink: 0;
}
.accordion-faq .accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 12px;
  gap: 10px;
}
.accordion-faq .accordion-title .text {
  color: var(--text);
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden;
}
.accordion-faq .accordion-title .ic-accordion-custom::before {
  transform: rotate(90deg);
  background-color: var(--white);
}
.accordion-faq .accordion-title .ic-accordion-custom::after {
  transform: rotate(180deg);
  background-color: var(--white);
}
.accordion-faq .accordion-title.collapsed {
  margin-bottom: 0;
}
.accordion-faq .accordion-title.collapsed .text {
  color: var(--text-2);
  font-weight: 400;
}
.accordion-faq .accordion-title.collapsed .icon {
  border: 1px solid var(--line);
  background-color: transparent;
}
.accordion-faq .accordion-title.collapsed .ic-accordion-custom::before {
  transform: rotate(0deg);
  background-color: var(--text);
}
.accordion-faq .accordion-title.collapsed .ic-accordion-custom::after {
  transform: rotate(0deg);
  background-color: var(--text);
}
@media (max-width: 1199px) {
  .accordion-faq .icon {
    width: 30px;
    height: 30px;
  }
  .accordion-faq .icon .ic-accordion-custom {
    width: 14px;
    height: 14px;
  }
}

