/*--------- Abstracts variable ---------- */
.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.social-color {
  --facebook-cl: rgb(59, 89, 152);
  --x-cl: rgb(85, 85, 85);
  --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);
  --threads-cl: rgb(224, 53, 102);
  --youtube-cl: rgb(205, 32, 31);
  --tiktok-cl: linear-gradient(#25f4ee, #000, #fe2c55);
  --tiktok-cl2: rgb(254, 44, 85);
  --pinterest-cl: rgb(203, 32, 39);
  --tumblr-cl: rgb(55, 69, 92);
  --vimeo-cl: rgb(26, 183, 234);
  --snapchat-cl: rgb(255, 221, 0);
  --whatsapp-cl: rgb(0, 230, 118);
  --linked_in-cl: rgb(23, 106, 255);
  --wechat-cl: rgb(26, 173, 24);
  --reddit-cl: rgb(255, 69, 0);
  --line-cl: rgb(0, 195, 77);
  --spotify-cl: rgb(30, 125, 96);
}
.social-color a {
  position: relative;
  overflow: hidden;
}
.social-color a::after {
  content: "";
  position: absolute;
  background: transparent;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.social-color .social-facebook::after {
  background: var(--facebook-cl);
}
.social-color .social-facebook:hover {
  color: var(--white);
}
.social-color .social-facebook:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-instagram::after {
  background: var(--instagram-cl);
}
.social-color .social-instagram:hover {
  color: var(--white);
}
.social-color .social-instagram:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-x::after {
  background: var(--x-cl);
}
.social-color .social-x:hover {
  color: var(--white);
}
.social-color .social-x:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-snapchat::after {
  background: var(--snapchat-cl);
}
.social-color .social-snapchat:hover {
  color: var(--white);
}
.social-color .social-snapchat:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-pinterest::after {
  background: var(--pinterest-cl);
}
.social-color .social-pinterest:hover {
  color: var(--white);
}
.social-color .social-pinterest:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-linkin::after {
  background: var(--linked_in-cl);
}
.social-color .social-linkin:hover {
  color: var(--white);
}
.social-color .social-linkin:hover::after {
  opacity: 1;
  visibility: visible;
}
.social-color .social-tiktok::after {
  background: var(--tiktok-cl);
}
.social-color .social-tiktok:hover {
  color: var(--white);
}
.social-color .social-tiktok:hover::after {
  opacity: 1;
  visibility: visible;
}

.social-icon-2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-icon-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--line);
}
.social-icon-2 a:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}
.social-icon-2 .icon {
  font-size: 24px;
}
.social-icon-2.style-2 a {
  width: 32px;
  height: 32px;
}
.social-icon-2.style-2 a:hover {
  border-color: var(--text);
  background-color: var(--text);
}
.social-icon-2.style-2 .icon {
  font-size: 16px;
}
.social-icon-2.hv-dark a:hover {
  border-color: var(--text);
  background-color: var(--text);
}
@media (min-width: 1200px) {
  .social-icon-2 a {
    width: 44px;
    height: 44px;
  }
}

.box-icon_V01 {
  text-align: center;
  position: relative;
}
.box-icon_V01 .icon {
  font-size: 40px;
  margin-bottom: 20px;
  display: inline-flex;
  transition-duration: 0.5s;
}
.box-icon_V01 .title {
  margin-bottom: 8px;
}
.box-icon_V01:hover .icon {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.box-icon_V01.has-line .icon {
  font-size: 60px;
}
.box-icon_V01.has-line::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 1px;
  background-color: var(--line);
}
@media (max-width: 1199px) {
  .box-icon_V01.has-line::after {
    right: -16px;
  }
}
@media (max-width: 767px) {
  .box-icon_V01.has-line::after {
    right: -6px;
  }
}
.box-icon_V01.style-2 .icon {
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .box-icon_V01.style-3 {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: start;
  }
  .box-icon_V01.style-3 .icon {
    margin-bottom: 0;
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .box-icon_V01 .icon {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .box-icon_V01.style-2 .icon {
    font-size: 60px;
  }
}

.box-icon_V02 {
  text-align: center;
  padding: 31px;
  border: 1px solid var(--white-10);
  border-radius: 12px;
  display: grid;
  gap: 16px;
}
.box-icon_V02 .icon {
  font-size: 60px;
  transition-duration: 0.5s;
}
.box-icon_V02:hover .icon {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
@media (max-width: 1199px) {
  .box-icon_V02 .icon {
    font-style: 40px;
  }
}
@media (max-width: 767px) {
  .box-icon_V02 {
    padding: 20px 15px;
  }
}

.box-icon_V03 {
  text-align: start;
  place-items: start;
  background: rgba(255, 255, 255, 0.0588235294);
  border: 0;
  padding: 20px;
  border-radius: 8px;
  display: grid;
}
.box-icon_V03 .icon {
  font-size: 60px;
  transition-duration: 0.5s;
}
.box-icon_V03 .ic-wrap {
  margin-bottom: 20px;
}
.box-icon_V03 .btn-line-2 {
  padding-bottom: 2px;
}
.box-icon_V03:hover .icon {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
@media (max-width: 1199px) {
  .box-icon_V03 .icon {
    font-style: 40px;
  }
}

