/*--------- Abstracts variable ---------- */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  background: var(--text);
  color: var(--white);
  border-radius: 60px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn.w-100 {
  padding-left: 12px;
  padding-right: 12px;
}
.btn.btn-white {
  background: var(--white);
  color: var(--text);
}
.btn.btn-white:hover {
  background: var(--text);
  color: var(--white);
}
.btn.btn-white::after {
  display: none;
}
.btn.btn-white.hv-primary:hover {
  background: var(--primary);
}
.btn.btn-primary {
  background: var(--primary);
}
.btn.btn-secondary {
  background: var(--secondary);
}
.btn.btn-third {
  background: var(--third);
}
.btn.btn-stroke {
  border: 1px solid var(--text);
}
.btn.btn-stroke:not(:hover) {
  background: transparent;
  color: var(--text);
}
.btn.btn-stroke-2 {
  border: 2px solid var(--white-10);
  background: transparent;
}
.btn.small {
  height: 42px;
  padding-left: 24px;
  padding-right: 24px;
}
.btn.small.w-100 {
  padding-left: 12px;
  padding-right: 12px;
}
.btn.small-2 {
  height: 46px;
  padding-left: 28px;
  padding-right: 28px;
}
.btn.s-small {
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn.type-xl {
  height: 50px;
}
.btn.style-2 {
  border-radius: 12px;
}
@media (min-width: 1200px) {
  .btn {
    height: 58px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.animate-btn {
  position: relative;
  overflow: hidden;
}
.animate-btn:hover::after {
  animation: shine-reverse 1s forwards;
}
.animate-btn.w-100:hover::after {
  animation: shine-reverse 1.5s forwards;
}

.animate-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100%;
  opacity: 0.6;
}

button.animate-btn::after,
.animate-btn.btn::after {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0) 70%);
}

.animate-btn.animate-dark::after {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.animate-btn.animate-primary::after {
  background-image: linear-gradient(90deg, transparent, rgb(220, 70, 70), transparent);
}

.tf-loading {
  min-width: 150px;
}
.tf-loading.loadmore .spinner-circle {
  display: none;
}
.tf-loading.loadmore.loading .spinner-circle {
  display: block;
}
.tf-loading.loadmore.loading .text {
  display: none;
}
.tf-loading.loadmore:hover .spinner-child::before {
  background-color: var(--white);
}
.tf-loading.loadmore .spinner-child::before {
  background-color: var(--bg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .tf-loading {
    min-width: 130px;
  }
}

.spinner-circle {
  width: 24px;
  height: 24px;
  position: relative;
}
.spinner-circle .spinner-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.spinner-circle .spinner-child::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: var(--white);
  border-radius: 100%;
  -webkit-animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
  animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
}
.spinner-circle .spinner-circle2 {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.spinner-circle .spinner-circle2::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner-circle .spinner-circle3 {
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}
.spinner-circle .spinner-circle3::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner-circle .spinner-circle4 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.spinner-circle .spinner-circle4::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner-circle .spinner-circle5 {
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}
.spinner-circle .spinner-circle5::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.spinner-circle .spinner-circle6 {
  -webkit-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  transform: rotate(200deg);
}
.spinner-circle .spinner-circle6::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.spinner-circle .spinner-circle7 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.spinner-circle .spinner-circle7::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.spinner-circle .spinner-circle8 {
  -webkit-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  transform: rotate(280deg);
}
.spinner-circle .spinner-circle8::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.spinner-circle .spinner-circle9 {
  -webkit-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  transform: rotate(320deg);
}
.spinner-circle .spinner-circle9::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.btn-line-2 {
  color: var(--text-2);
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(to right, var(--text) 50%, var(--text-2) 50%);
  background-size: 200% 100%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s linear;
  cursor: pointer;
}
.btn-line-2::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  background-color: var(--text-2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-line-2::before {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  bottom: 0px;
  height: 2px;
  background-color: var(--text);
  transition: width 0.3s linear;
  z-index: 1;
}
.btn-line-2.style-min::after, .btn-line-2.style-min::before {
  height: 1px;
}
.btn-line-2.style-white {
  color: var(--white);
  background: linear-gradient(to right, var(--primary) 50%, var(--white) 50%);
  background-size: 200% 100%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s linear;
}
.btn-line-2.style-white::after {
  background-color: var(--white);
}
.btn-line-2.style-white::before {
  background-color: var(--primary);
}
.btn-line-2.style-primary {
  color: var(--text);
  background: linear-gradient(to right, var(--primary) 50%, var(--text) 50%);
  background-size: 200% 100%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s linear;
}
.btn-line-2.style-primary::after {
  background-color: var(--text);
}
.btn-line-2.style-primary::before {
  background-color: var(--primary);
}
.btn-line-2:hover {
  background-position: left;
}
.btn-line-2:hover::before {
  width: 100%;
}
.btn-line-2.active {
  background-position: left;
}
.btn-line-2.active::before {
  width: 100%;
}

.btn-line-3 {
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}
.btn-line-3::before {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--text);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-line-3:hover {
  color: var(--primary);
}
.btn-line-3:hover::before {
  background: var(--primary);
}
.btn-line-3.type-primary {
  color: var(--primary);
}
.btn-line-3.type-primary::before {
  background: var(--primary);
}

.btn-line {
  display: inline-flex;
  position: relative;
  color: var(--text-2);
}
.btn-line::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--text-2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.btn-line:hover {
  color: var(--text);
}
.btn-line:hover::after {
  opacity: 1;
  visibility: visible;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-icon .icon {
  font-size: 20px;
}

.action-link {
  align-items: center;
  display: inline-flex;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  color: var(--white);
  background: var(--text);
}
.action-link .icon {
  font-size: 20px;
}
.action-link .text {
  margin-left: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-video.btn-abs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-video.btn-abs::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  z-index: 1;
}
.btn-video.btn-abs .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  font-size: 20px;
  color: var(--black);
  z-index: 2;
}

