/*------------ Slider (layout/structure real classes only) ---------------- */
.tf-swiper .sw-pagination:not(.swiper-pagination-lock) {
  margin-top: 20px;
}

.sw-dot-default {
  margin-top: 24px;
}
.sw-dot-default .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.sw-dot-default .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--text);
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: var(--text);
}
.sw-dot-default.style-2 .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.sw-dot-default.style-2 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
  border: 1px solid var(--text);
  background: transparent;
}
@media (min-width: 1200px) {
  .sw-dot-default {
    margin-top: 35px;
  }
}
@media (min-width: 1440px) {
  .sw-dot-default {
    margin-top: 56px;
  }
}

.sw-dot-default {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw-dot-default.swiper-pagination-lock {
  margin: 0;
}
