/*--------- Abstracts variable ---------- */
.tf-swiper .tf-sw-pagination:not(.swiper-pagination-lock) {
  margin-top: 20px;
}

.swiper-button-disabled {
  pointer-events: none !important;
}

.sw-dot-default {
  margin-top: 24px;
}
.sw-dot-default .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.sw-dot-default .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--text);
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: var(--text);
}
.sw-dot-default.style-2 .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.sw-dot-default.style-2 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
  border: 1px solid var(--text);
  background: transparent;
}
@media (min-width: 1200px) {
  .sw-dot-default {
    margin-top: 35px;
  }
}
@media (min-width: 1440px) {
  .sw-dot-default {
    margin-top: 56px;
  }
}

.sw-dot-default {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw-dot-default.swiper-pagination-lock {
  margin: 0;
}

.sw-line-default {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.sw-line-default .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  background: var(--white);
  border-radius: 0;
  margin: 0 !important;
}
.sw-line-default .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sw-line-default .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
}
.sw-line-default .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.3;
}
.sw-line-default.style-2 .swiper-pagination-bullet {
  background: var(--text);
}
@media (max-width: 991px) {
  .sw-line-default {
    gap: 6px;
  }
  .sw-line-default .swiper-pagination-bullet {
    width: 20px;
  }
  .sw-line-default .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
  }
}

.tf-sw-nav {
  font-size: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tf-sw-nav-2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--line);
  background: var(--white);
}
.tf-sw-nav-2:hover {
  border-color: var(--text);
  background: var(--text);
  color: var(--white);
}
.tf-sw-nav-2.swiper-button-disabled {
  opacity: 0.4 !important;
}
.tf-sw-nav-2.style-2 {
  border: 0;
  border-radius: 0;
}
.tf-sw-nav-2.style-2:not(:hover) {
  background: var(--white);
}
.tf-sw-nav-2.style-3 {
  background: rgba(255, 255, 255, 0.1019607843);
  border-color: transparent;
  border-radius: 8px;
}
.tf-sw-nav-2.style-3:hover {
  border-color: var(--white);
}
@media (min-width: 992px) {
  .tf-sw-nav-2.style-large {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }
}

.tf-sw-nav-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--white);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  cursor: pointer;
}
.tf-sw-nav-circle:hover {
  background: var(--text);
  color: var(--white);
}
.tf-sw-nav-circle.swiper-button-disabled {
  opacity: 0.5;
}

.slider_effect_fade .swiper-slide.swiper-slide-active .fade-item {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.slider_effect_fade .swiper-slide.swiper-slide-active .scale-item {
  transform: scale(1);
}
.slider_effect_fade .swiper-slide.swiper-slide-active .width-item {
  width: 100%;
}
.slider_effect_fade .fade-item {
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider_effect_fade .fade-item.fade-box {
  transition-delay: 0.4s;
  transform: translateY(0px);
}
.slider_effect_fade .fade-item.fade-item-1 {
  transition-delay: 0.5s;
}
.slider_effect_fade .fade-item.fade-item-2 {
  transition-delay: 0.6s;
}
.slider_effect_fade .fade-item.fade-item-3 {
  transition-delay: 0.7s;
}
.slider_effect_fade .fade-item.fade-item-4 {
  transition-delay: 0.8s;
}
.slider_effect_fade .fade-item.fade-item-5 {
  transition-delay: 1s;
}
.slider_effect_fade .scale-item {
  transform: scale(1.2);
  transition: all 0.5s linear;
}
.slider_effect_fade .scale-item.scale-item-1 {
  transition-delay: 0.3s;
}
.slider_effect_fade .width-item {
  width: 1%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider_effect_fade .width-item.width-item-3 {
  transition-delay: 0.7s;
}

@media (max-width: 767px) {
  .slider_effect_scale-md .swiper-slide {
    overflow: hidden;
  }
  .slider_effect_scale-md .swiper-slide.swiper-slide-active .scale-item {
    transform: scale(1);
  }
  .slider_effect_scale-md .scale-item {
    transform: scale(1.2);
    transition: all 1s linear;
  }
}

@media (max-width: 767px) {
  .slider_effect_fade-md .swiper-slide.swiper-slide-active .fade-item {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .slider_effect_fade-md .fade-item {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slider_effect_fade-md .fade-item.fade-box {
    transition-delay: 0.4s;
    transform: translateY(0px);
  }
  .slider_effect_fade-md .fade-item.fade-item-1 {
    transition-delay: 0.5s;
  }
  .slider_effect_fade-md .fade-item.fade-item-2 {
    transition-delay: 0.6s;
  }
  .slider_effect_fade-md .fade-item.fade-item-3 {
    transition-delay: 0.7s;
  }
  .slider_effect_fade-md .fade-item.fade-item-4 {
    transition-delay: 0.8s;
  }
}

.hover-sw-nav .tf-sw-nav {
  visibility: hidden;
}
.hover-sw-nav .tf-sw-nav.nav-next-swiper {
  margin-right: 20px;
}
.hover-sw-nav .tf-sw-nav.nav-prev-swiper {
  margin-left: 20px;
}
.hover-sw-nav:hover .tf-sw-nav {
  margin: 0;
  visibility: visible;
}

.tf-slideshow {
  position: relative;
}
.tf-slideshow .sw-line-default {
  position: absolute;
  bottom: 28px;
  right: 0;
  left: 0;
  z-index: 2;
}
.tf-slideshow.style-2 .slider-wrap {
  overflow: hidden;
  border-radius: 20px;
}
.tf-slideshow.style-2 .sld_image {
  background-color: var(--text);
}
.tf-slideshow.style-2 .sld_image img {
  opacity: 0.8;
}
.tf-slideshow.style-2 .tf-sw-nav-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}
@media (min-width: 992px) {
  .tf-slideshow.style-2 .sub-text_sld {
    margin-bottom: 40px !important;
  }
}
.tf-slideshow.style-2 .nav-next-swiper {
  right: 40px;
}
.tf-slideshow.style-2 .nav-prev-swiper {
  left: 40px;
}
.tf-slideshow.style-2 .sld_content {
  top: calc(50% + 25px);
}
.tf-slideshow.style-2.v2 .sld_content {
  top: unset;
}
@media (max-width: 1599px) {
  .tf-slideshow.style-2.v2 .slider-wrap {
    border-radius: 0;
  }
}
@media (min-width: 992px) {
  .tf-slideshow.style-2.v2 .tf-sw-nav-2 {
    height: 64px;
    width: 64px;
    font-size: 32px;
  }
}
.tf-slideshow.slideshow-3 .sw-line-default {
  position: unset;
}
.tf-slideshow.slideshow-3 .wrap-sw-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  z-index: 3;
}
@media (min-width: 768px) {
  .tf-slideshow.slideshow-3 .wrap-sw-line {
    width: 50%;
    bottom: 32px;
  }
}
@media (min-width: 768px) {
  .tf-slideshow .sw-line-default.pst-2 {
    left: 20px;
    bottom: 30px;
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .tf-slideshow .sw-line-default.pst-3 {
    left: 60px;
    bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .tf-slideshow .sw-line-default.pst-2 {
    left: 48px;
    bottom: 48px;
  }
}
@media (max-width: 1439px) {
  .tf-slideshow .slideshow-wrap {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .tf-slideshow .sw-line-default {
    bottom: 15px;
  }
  .tf-slideshow .slideshow-wrap {
    height: 550px;
  }
}
@media (max-width: 575px) {
  .tf-slideshow .slideshow-wrap {
    height: 450px;
  }
}

.sw-slide-show.slideshow-2 .slider-wrap_2 {
  position: relative;
}
.sw-slide-show.slideshow-2 .slider-wrap_2 .sld-content {
  position: relative;
}
.sw-slide-show.slideshow-2 .slider-wrap_2 .sld-content::after {
  content: "";
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2274509804);
  z-index: 0;
}
.sw-slide-show.slideshow-2 .slider-wrap_2 .sld-content .content-sld_wrap {
  position: relative;
  z-index: 1;
}

.group-nav-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}
.group-nav-action .tf-sw-nav,
.group-nav-action .tf-sw-nav-2 {
  pointer-events: all;
}
.group-nav-action.pst-2 .gr-nav_wrap {
  padding-left: 49px;
  padding-right: 49px;
}
.group-nav-action.pst-3 {
  left: -75px;
  right: -75px;
}
@media (max-width: 1599px) {
  .group-nav-action {
    display: none;
  }
}

.pst-nav-action {
  position: relative;
}
.pst-nav-action .group-nav-action {
  justify-content: space-between;
}

.slideshow-wrap {
  position: relative;
}
@media (max-width: 575px) {
  .slideshow-wrap.sm-has-ov::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
  }
}

.sld_content {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 2;
}
.sld_content .heading {
  margin-bottom: 32px;
}
.sld_content .group-action {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.sld_content.pst-2 {
  top: calc(50% + 60px);
}
.sld_content.pst-3 {
  top: calc(50% + 40px);
}
.sld_content.pst-4 {
  top: calc(50% + 52px);
}
@media (min-width: 1200px) {
  .sld_content.pst-4 .heading {
    margin-bottom: 32px;
  }
}
.sld_content.type-3, .sld_content.type-4 {
  left: 0;
  right: 0;
  top: unset;
  bottom: 47px;
  transform: translateY(0);
  padding-left: 15px;
}
.sld_content.type-3 .content-sld_wrap, .sld_content.type-4 .content-sld_wrap {
  max-width: 500px;
}
@media (min-width: 992px) {
  .sld_content.type-3, .sld_content.type-4 {
    padding-left: 50px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .sld_content.type-4 {
    bottom: 60px;
    padding-left: 60px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .sld_content.type-2 {
    left: 45px;
    right: 45px;
  }
}
@media (min-width: 1200px) {
  .sld_content .heading {
    margin-bottom: 40px;
  }
  .sld_content.pst-2 {
    top: calc(50% + 64px);
  }
  .sld_content.pst-5 {
    top: calc(50% - 6px);
  }
}
@media (max-width: 575px) {
  .sld_content .sub-text_sld {
    display: none;
  }
}

.sld_image {
  height: 100%;
  overflow: hidden;
}
.sld_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap-sw-over {
  margin-left: -10px;
  padding-left: 10px;
  margin-bottom: -10px;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .wrap-sw-over {
    margin-left: -40px;
    padding-left: 40px;
    margin-bottom: -40px;
    padding-bottom: 40px;
  }
}

.slider-wrap_2 {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
}
.slider-wrap_2 > * {
  width: 100%;
  min-height: 400px;
}
.slider-wrap_2 .sld-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap_2 .sld-content {
  background: #2c2762;
  display: flex;
  align-items: center;
  padding: 48px;
  position: relative;
}
.slider-wrap_2 .sld-content .sld-image-abs {
  position: absolute;
  inset: 0;
}
.slider-wrap_2 .sld-content .sld-image-abs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap_2 .title_sld {
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .slider-wrap_2 .title_sld {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .slider-wrap_2 .sld-image {
    width: 60%;
  }
  .slider-wrap_2 .sld-content {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .slider-wrap_2 .sld-image {
    width: 63.83%;
  }
  .slider-wrap_2 .sld-content {
    width: 36.17%;
  }
}
@media (max-width: 991px) {
  .slider-wrap_2 .sld-content {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .slider-wrap_2 .sld-image {
    display: none;
  }
}

.slider-wrap_3 {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  min-height: 700px;
}
.slider-wrap_3 > * {
  width: 50%;
}
.slider-wrap_3 .sld-image_left,
.slider-wrap_3 .sld-image_right {
  height: 100%;
}
.slider-wrap_3 .sld-image_left img,
.slider-wrap_3 .sld-image_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap_3 .sld-content {
  position: relative;
}
.slider-wrap_3 .content-sld_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inset: 30px;
}
.slider-wrap_3 .sld-image_left {
  position: relative;
}
.slider-wrap_3 .sld-image_left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.slider-wrap_3 .text-sub_sld {
  margin-bottom: 15px;
}
.slider-wrap_3 .title_sld {
  margin-bottom: 32px;
}
.slider-wrap_3 .group-action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
@media (min-width: 992px) {
  .slider-wrap_3 .sld-image_left img {
    filter: blur(40px);
  }
}
@media (min-width: 1200px) {
  .slider-wrap_3 .content-sld_wrap {
    left: 60px;
  }
  .slider-wrap_3 .sld-image_left img {
    transform: scale(1.2);
  }
  .slider-wrap_3 .title_sld {
    margin-bottom: 40px;
  }
  .slider-wrap_3 .group-action a {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1600px) {
  .slider-wrap_3 .content-sld_wrap {
    left: 114px;
  }
}
@media (max-width: 1199px) {
  .slider-wrap_3 {
    min-height: 600px;
  }
}
@media (max-width: 991px) {
  .slider-wrap_3 .content-sld_wrap {
    inset: 20px;
  }
  .slider-wrap_3 .sld-image_right {
    display: none;
  }
  .slider-wrap_3 > * {
    width: 100%;
  }
  .slider-wrap_3 .sld-image_left img,
  .slider-wrap_3 .sld-image_right img {
    max-height: 600px;
  }
}
@media (max-width: 575px) {
  .slider-wrap_3 {
    min-height: 450px;
  }
}

.slider-wrap_4 {
  display: flex;
}
.slider-wrap_4 > * {
  width: 100%;
  min-height: 400px;
}
@media (min-width: 768px) {
  .slider-wrap_4 > * {
    min-height: 542px;
  }
}
.slider-wrap_4 .sld-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap_4 .sld-content {
  background: #103C29;
  display: flex;
  align-items: center;
  padding: 48px;
  position: relative;
}
.slider-wrap_4 .sld-content .sld-image-abs {
  position: absolute;
  inset: 0;
}
.slider-wrap_4 .sld-content .sld-image-abs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .slider-wrap_4 .sld-content .sld-image-abs {
    background-color: #101010;
  }
  .slider-wrap_4 .sld-content .sld-image-abs img {
    opacity: 0.8;
  }
}
.slider-wrap_4 .title_sld {
  margin-bottom: 12px;
}
.slider-wrap_4 .decs_sld {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .slider-wrap_4 .title_sld {
    margin-bottom: 16px;
  }
  .slider-wrap_4 .sld-content {
    width: 40%;
  }
  .slider-wrap_4 .decs_sld {
    margin-bottom: 40px;
  }
  .slider-wrap_4 .sld-image,
  .slider-wrap_4 .sld-content {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .slider-wrap_4 .sld-content {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .slider-wrap_4 .sld-image {
    display: none;
  }
}

@media (min-width: 1200px) {
  .swiper-cate .category-v04 {
    max-width: 240px;
    display: flex;
    flex-direction: column;
  }
  .swiper-cate .swiper-slide:not(:first-child) .category-v04 {
    margin: 0 auto;
  }
  .swiper-cate .swiper-slide:last-child .category-v04 {
    margin: 0 0 0 auto;
  }
}

.box-swiper-product {
  padding: 21px;
  border: 3px solid var(--text);
  border-radius: 16px;
}
@media (max-width: 991px) {
  .box-swiper-product {
    padding: 13px;
    border-width: 2px;
  }
}

.box-nav-pag {
  border-radius: 12px;
  background: var(--white);
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  min-width: 200px;
  text-align: center;
}
.box-nav-pag .title {
  padding: 10px;
}
.box-nav-pag .nav-pag_wrap {
  display: flex;
}
.box-nav-pag .nav-pag_wrap > * {
  flex: 1;
  padding: 9px 10px 10px 10px;
  border-top: 1px solid var(--line);
}
.box-nav-pag .nav-pag_wrap > *:not(:last-child) {
  border-right: 1px solid var(--line);
}
.box-nav-pag .nav-pag_wrap .pagination-fraction {
  display: flex;
  justify-content: center;
}
.box-nav-pag .nav-pag_wrap .pagination-fraction .swiper-slice::after {
  content: "/";
}
.box-nav-pag .nav-pag_wrap .nav-prev-swiper,
.box-nav-pag .nav-pag_wrap .nav-next-swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
@media (max-width: 991px) {
  .box-nav-pag {
    bottom: 8px;
    right: 8px;
    min-width: 180px;
  }
  .box-nav-pag .nav-pag_wrap > *,
  .box-nav-pag .title {
    padding: 6px;
  }
}

.swiper-2row .list-2row > *:not(:last-child) {
  margin-bottom: 30px;
}

