/*------------ Header ---------------- */
/* ---------------------------------------------------------
    * Name: Amerce - Multipurpose eCommerce HTML Template
    * Version: 1.0.2
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Core CSS

    * Components
 ------------------------------------------------------------------------------ */
/*--------- Abstracts variable ---------- */
.tf-header-block-height {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header {
  position: sticky;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header.header-sticky:not(.header-s5, .header-abs) {
  background: var(--white);
}
header.header-sticky.scr-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
header.header-sticky.scr-box-shadow-2 .header-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
header.header-sticky.header-abs .swip-text {
  opacity: 0;
  visibility: hidden;
}
header.header-sticky.header-s7.hds7-type-2 {
  background: rgba(114, 114, 114, 0.6);
  backdrop-filter: blur(12px);
}
header.header-sticky.tf-header-landing {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 1200px) {
  header.header-sticky.has-by-category:not(.header-s8) {
    background: transparent;
  }
  header.header-sticky.has-by-category:not(.header-s8) .header-inner_wrap {
    background: var(--white);
  }
  header.header-sticky.has-by-category:not(.header-s8) .header-bottom_wrap {
    background: var(--white);
  }
  header.header-sticky.has-by-category.header-s8 {
    background: transparent;
  }
  header.header-sticky.has-by-category.header-s8 .header-bottom_wrap {
    border-bottom: 1px solid var(--line);
  }
  header.header-sticky.has-by-category.header-s8 .header-bottom_wrap {
    background: var(--white);
  }
}

.tf-header .box-open-menu-mobile {
  flex: 1;
  display: flex;
}
@media (max-width: 1199px) {
  .tf-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .tf-header .logo-site img {
    max-width: 120px;
  }
  .tf-header .header-inner {
    align-items: center;
  }
  .tf-header .header-inner .header-left {
    flex: unset;
  }
}

.tf-header .tf-dropdown-select.type-currencies > .dropdown-menu {
  width: max-content !important;
}

.header-abs {
  background: transparent;
  margin-top: 15px;
  margin-bottom: -75px;
}
.header-abs .header-inner_wrap {
  position: relative;
  z-index: 2;
}
.header-abs .swip-text {
  margin-top: 16px;
}
.header-abs .header-inner {
  padding-left: 20px;
  padding-right: 20px;
  background: var(--white);
  border-radius: 12px;
}
.header-abs .header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-abs .header-right {
  gap: 28px;
}
.header-abs .nav-category-wrap {
  min-width: 218px;
}
@media (min-width: 1200px) {
  .header-abs {
    margin-top: 20px;
    margin-bottom: -142px;
  }
  .header-abs .header-left,
  .header-abs .header-right {
    flex: unset !important;
  }
}
@media (min-width: 1600px) {
  .header-abs {
    margin-top: 40px;
    margin-bottom: -162px;
  }
  .header-abs .header-inner {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-abs .form-search-nav {
    min-width: 340px;
  }
}
@media (max-width: 1199px) {
  .header-abs {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-abs .header-inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header-abs-2 {
  margin-bottom: -80px;
}
@media (max-width: 1199px) {
  .header-abs-2 {
    margin-bottom: -60px;
  }
}

.header-abs-3 {
  margin-bottom: -124px;
}
@media (max-width: 1199px) {
  .header-abs-3 {
    margin-bottom: -60px;
  }
}

.header-s2 .header-right {
  gap: 24px;
  align-items: center;
}
.header-s2 .header-right .br-line {
  height: 20px;
}
@media (max-width: 1599px) {
  .header-s2 .sub-menu.mega-menu {
    left: 0px;
  }
}
@media (max-width: 1439px) {
  .header-s2 .box-nav-menu {
    gap: 20px;
  }
}

.header-s3 .header-center {
  flex: 2;
}
.header-s3 .item-link {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-s3 .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-s3 .header-bottom .col-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  .header-s3 .header-inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-s3 .header-inner_wrap,
  .header-s3 .header-bottom_wrap {
    position: relative;
  }
  .header-s3 .header-inner_wrap::before,
  .header-s3 .header-bottom_wrap::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--line);
  }
  .header-s3::before {
    display: none;
  }
}

.header-s4 .form-search-nav {
  max-width: 280px;
}
.header-s4 .item-link {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) {
  .header-s4 .header-inner {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-s5 {
  background: var(--bg-3);
}
.header-s5 .header-right {
  gap: 24px;
  align-items: center;
}
.header-s5 .header-right .br-line {
  height: 20px;
}
.header-s5 .item-link {
  padding-top: 19px;
  padding-bottom: 19px;
}
@media (min-width: 1200px) {
  .header-s5 .header-inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header-s6.header-sticky .header-bottom {
  padding-bottom: 15px;
  padding-top: 15px;
}
.header-s6 .header-bottom_wrap {
  position: relative;
  z-index: 1;
}
.header-s6 .header-inner_wrap {
  position: relative;
  z-index: 2;
}
.header-s6 .header-inner .header-left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-s6 .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 31px;
  padding-bottom: 41px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-s6 .header-bottom .col-center {
  width: 100%;
}
@media (min-width: 1200px) {
  .header-s6 .header-inner .header-left,
  .header-s6 .header-inner .header-right {
    flex: unset;
  }
}
@media (min-width: 1440px) {
  .header-s6 .item-link {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.header-s7 .header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-s7 .header-right {
  gap: 28px;
}
@media (min-width: 1200px) {
  .header-s7 .header-left {
    gap: 78px;
  }
  .header-s7 .header-left,
  .header-s7 .header-right {
    flex: unset !important;
  }
}
@media (min-width: 1440px) {
  .header-s7 .form-search-nav {
    min-width: 340px;
  }
}

@media (min-width: 1200px) {
  .header-s8 .header-bottom_wrap .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-s8 .item-link {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .header-s8 .header-left {
    display: flex;
    gap: 40px;
  }
  .header-s8 .header-left .wrap-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header-s8 .header-inner_wrap {
    background: var(--bg);
    position: relative;
    z-index: 1;
  }
  .header-s8 .header-inner .header-left,
  .header-s8 .header-inner .header-right {
    flex: unset;
  }
  .header-s8 .header-inner {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .header-s8 .header-left {
    display: flex;
    width: 100%;
    gap: 60px;
  }
  .header-s8 .header-left .wrap-left {
    width: 100%;
  }
}

.header-s9 .header-inner_wrap {
  position: relative;
  z-index: 2;
}
.header-s9 .swip-text {
  margin-top: 16px;
}
.header-s9 .header-inner {
  padding-left: 20px;
  padding-right: 20px;
  background: var(--white);
  border-radius: 12px;
}
.header-s9 .header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-s9 .header-right {
  gap: 28px;
}
.header-s9 .nav-category-wrap {
  min-width: 218px;
}
@media (min-width: 1200px) {
  .header-s9 .header-left,
  .header-s9 .header-right {
    flex: unset !important;
  }
}
@media (min-width: 1600px) {
  .header-s9 .header-inner {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-s9 .form-search-nav {
    min-width: 340px;
  }
}
@media (max-width: 1199px) {
  .header-s9 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-s9 .header-inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header-s10 {
  background-color: var(--white);
  margin-bottom: -130px;
}

.has-by-category .box-open-header-bottom {
  display: none;
  margin-right: 20px;
}
.has-by-category.header-sticky {
  pointer-events: none;
}
.has-by-category.header-sticky > * {
  pointer-events: all;
}
.has-by-category.header-sticky .box-open-header-bottom {
  display: block;
}
.has-by-category .header-bottom_wrap {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.has-by-category .header-bottom_wrap.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 1199px) {
  .has-by-category .box-open-header-bottom {
    display: none !important;
  }
}

.btn-open-header-bottom {
  display: flex;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner .header-left,
.header-inner .header-right {
  flex: 1;
}
.header-inner .header-right {
  display: flex;
  justify-content: flex-end;
}

.nav-icon-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-icon-list .nav-icon-item {
  display: flex;
}
.nav-icon-list .nav-icon-item .icon {
  font-size: 24px;
}
.nav-icon-list .nav-icon-item.has-text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-icon-list .shop-cart {
  position: relative;
}
.nav-icon-list .shop-cart .count {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 11px;
  line-height: 10px;
  color: var(--white);
  background: var(--primary);
}
@media (max-width: 767px) {
  .nav-icon-list {
    gap: 12px;
  }
}

.box-navigation.style-white .item-link {
  color: var(--white);
}
.box-navigation.style-white-2 .item-link {
  color: var(--white);
}
.box-navigation.style-white-2 .item-link .cus-text::after {
  background: var(--text);
}
.box-navigation.style-white-2 .menu-item:hover .item-link {
  color: var(--text);
}

.box-nav-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 4px;
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
}
.item-link::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% + 48px);
  height: 100%;
  display: none;
}
.item-link .cus-text {
  position: relative;
}
.item-link .cus-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background: var(--primary);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-link .icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-item:hover .item-link {
  color: var(--primary);
}
.menu-item:hover .item-link::after {
  display: block;
}
.menu-item:hover .item-link .cus-text::after {
  right: auto;
  left: 0;
  width: 100%;
}
.menu-item:hover .item-link .icon {
  transform: rotate(180deg);
}
.menu-item:hover .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 1439px) {
  .menu-item.menu-cus {
    position: unset;
  }
}

.sub-menu {
  position: absolute;
  left: -32px;
  right: auto;
  padding: 32px;
  background: var(--white);
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  border-radius: 0px 0px 16px 16px;
  transform: translateY(10px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 1439px) {
  .sub-menu {
    min-width: 180px;
  }
  .sub-menu.mega-menu {
    left: 0;
    right: 0;
  }
}

.mega-menu {
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  padding-bottom: 48px;
}
@media (max-width: 1439px) {
  .mega-menu .card-product .card-product_wrapper.square .compare {
    display: none !important;
  }
  .mega-menu .card-product.has-size .variant-box {
    display: none;
  }
  .mega-menu .card-product.has-size .product-action_bot {
    bottom: 16px;
  }
}

.mega-menu-item .menu-heading {
  margin-bottom: 16px;
}

.sub-menu_wrap {
  display: flex;
  gap: 40px;
}
.sub-menu_wrap .sub-image {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.menu-heading {
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 26px;
}

.sub-menu_list li:not(:first-child) .sub-menu_link {
  padding-top: 8px;
}
.sub-menu_list li:not(:last-child) .sub-menu_link {
  padding-bottom: 8px;
}
@media (min-width: 1440px) {
  .sub-menu_list {
    min-width: 150px;
  }
}

.sub-menu_link {
  white-space: nowrap;
  color: var(--text-2);
  font-weight: 500;
}
.sub-menu_link .cus-text {
  position: relative;
}
.sub-menu_link .cus-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background: var(--text);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sub-menu_link:hover {
  color: var(--text);
}
.sub-menu_link:hover .cus-text::after {
  right: auto;
  left: 0;
  width: 100%;
}
.sub-menu_link.has-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sub-menu_link.type-pri:hover {
  color: var(--primary);
}
.sub-menu_link.type-pri .cus-text::after {
  background: var(--primary);
}

.demo-label {
  font-size: 10px;
  line-height: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
}
.demo-label.type-hot {
  background: var(--primary);
}
.demo-label.type-trend {
  background: var(--yellow);
}
.demo-label.type-new {
  background: var(--pink);
}
.demo-label.type-soon {
  background: rgba(147, 39, 166, 0.8);
}

.nav-category-wrap {
  position: relative;
  min-width: 300px;
}
.nav-category-wrap.style-2 .btn-nav-drop {
  background: var(--primary);
}
.nav-category-wrap.style-2 .box-nav-category {
  border: 3px solid var(--primary);
  border-top: 0;
}
.nav-category-wrap.style-2 .has-sub-nav-category .sub-nav-category {
  padding: 24px;
}
.nav-category-wrap.style-2 .sub-nav-category_list .sub-nav__link:not(:last-child) {
  margin-bottom: 24px;
}
.nav-category-wrap.style-3 .btn-nav-drop {
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-category-wrap.style-3 .btn-nav-drop:not(:hover) {
  background: var(--bg);
  color: var(--text);
}
.nav-category-wrap.style-4 {
  min-width: 220px;
}
.nav-category-wrap.style-4 .btn-nav-drop {
  background: var(--white);
  border: 1px solid var(--line);
  color: var(--text);
  padding: 11px 15px;
}

.box-nav-category {
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  background: var(--white);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0px 0px 12px 12px;
}
.box-nav-category.active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.box-nav-category li:not(:last-child) {
  border-bottom: 1px solid var(--line);
}
.box-nav-category li:last-child .nav-category_link {
  border-radius: 0px 0px 12px 12px;
}

.has-sub-nav-category {
  position: relative;
}
.has-sub-nav-category .sub-nav-category {
  padding: 32px;
  padding-right: 48px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  transform: translateY(10px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.has-sub-nav-category .tf-grid-layout {
  gap: 30px 50px;
}
.has-sub-nav-category:hover .nav-category_link {
  color: var(--primary);
  background: var(--bg);
}
.has-sub-nav-category:hover .sub-nav-category {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sub-nav-category_list {
  display: grid;
  place-items: start;
  min-width: 200px;
}
.sub-nav-category_list .sub-nav__title {
  margin-bottom: 12px;
}
.sub-nav-category_list .sub-nav__link:not(:last-child) {
  margin-bottom: 8px;
}

.nav-category_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 16px 24px;
  color: var(--text);
  font-weight: 500;
}
.nav-category_link .icon {
  font-size: 20px;
}
.nav-category_link:hover {
  color: var(--primary);
  background: var(--bg);
}

.btn-nav-drop {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: var(--black);
  color: var(--white);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 15px 20px;
}
.btn-nav-drop .name-category {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  flex: 1;
}

/* -- Nav Mobile -- */
.btn-open-menu {
  font-size: 24px;
  display: inline-flex;
}

.canvas-mb .canvas-header {
  display: grid;
  gap: 20px;
  justify-content: unset;
  padding: 20px;
}
.canvas-mb .canvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-top: 0;
}
.canvas-mb .need-help-wrap {
  display: grid;
}
.canvas-mb .canvas-footer {
  display: flex;
  border-top: 1px solid var(--line);
  box-shadow: unset;
  padding: 0;
}
.canvas-mb .canvas-footer > * {
  width: 100%;
  padding: 6px 0 7px;
}

.nav-ul-mb .nav-mb-item:not(:last-child) .mb-menu-link {
  padding-bottom: 12px;
}
.nav-ul-mb .nav-mb-item:not(:last-child) {
  border-bottom: 1px solid var(--line);
}
.nav-ul-mb .nav-mb-item:not(:first-child) .mb-menu-link {
  padding-top: 12px;
}

.mb-menu-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-menu-link:not(.collapsed) .ic-custom::before {
  transform: rotate(90deg);
}
.mb-menu-link:not(.collapsed) .ic-custom::after {
  transform: rotate(180deg);
}
.mb-menu-link .ic-custom {
  width: 12px;
  height: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-menu-link .ic-custom::after, .mb-menu-link .ic-custom::before {
  content: "";
  position: absolute;
  background: var(--black);
  border-radius: 999px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mb-menu-link .ic-custom::after {
  width: 100%;
  height: 2px;
}
.mb-menu-link .ic-custom::before {
  height: 100%;
  width: 2px;
}
.mb-menu-link.active {
  font-weight: 700;
  color: var(--black);
}

.sub-nav-link .icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sub-nav-link:not(.collapsed) .icon {
  transform: rotateX(180deg);
}

.sub-nav-menu {
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 16px;
  border-left: 1px solid var(--line);
  margin-bottom: 20px;
}
.sub-nav-menu .sub-nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text);
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}
.sub-nav-menu .sub-nav-link .icon {
  font-size: 14px;
}
.sub-nav-menu .sub-nav-link.active {
  font-weight: 700;
  color: var(--black);
}
.sub-nav-menu .sub-nav-link.soon {
  pointer-events: none;
  color: var(--text-3);
}

.demo-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 8px 8px 12px;
  backdrop-filter: blur(4px);
  border: 1px solid var(--line);
  background-color: var(--bg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.demo-item .demo-img {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.demo-item .demo-img img {
  aspect-ratio: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.demo-item .demo-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--text-2);
  display: flex;
  align-items: center;
  gap: 8px;
}
.demo-item:hover {
  border-color: var(--text);
}
.demo-item:hover .demo-name {
  color: var(--text);
}
.demo-item.soon {
  pointer-events: none;
  opacity: 0.5;
}

.row-demo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
@media (min-width: 1440px) {
  .row-demo {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1600px) {
  .row-demo {
    grid-template-columns: repeat(7, 1fr);
  }
}

.mega-menu_home .row-demo {
  margin-bottom: 30px;
}

.mega-menu_home_v2 {
  display: flex;
  gap: 40px;
  left: 0;
}
.mega-menu_home_v2 .sub-menu_list {
  min-width: 200px;
}
.mega-menu_home_v2 .sub-menu_list .soon {
  pointer-events: none;
  color: var(--text-3);
}
.mega-menu_home_v2 .image-preview {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
.mega-menu_home_v2 .image-preview img {
  max-width: 300px;
}
.mega-menu_home_v2.home-type_2 {
  left: -280px;
}
.mega-menu_home_v2.home-type_4 {
  left: -180px;
}
@media (max-width: 1439px) {
  .mega-menu_home_v2.home-type_3 {
    left: -180px;
  }
}

.nav-account {
  position: relative;
}
.nav-account .dropdown-account {
  pointer-events: none;
  position: absolute;
  background-color: var(--white);
  min-width: 200px;
  z-index: 999;
  visibility: hidden;
  text-align: left;
  top: calc(100% + 28px);
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  transform: translateX(0px) translateY(15px);
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: -100px;
  padding: 8px 28px;
}
.nav-account .dropdown-account .list-menu-item li:not(:last-child) {
  margin-bottom: 8px;
}
.nav-account .dropdown-account .list-menu-item li:not(:last-child) a {
  border-bottom: 1px solid var(--line);
}
.nav-account .dropdown-account .list-menu-item a {
  padding: 8px 0px;
  display: block;
}
.nav-account:hover .dropdown-account {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0px) translateY(0px);
}
.nav-account:hover .nav-icon-item::after {
  display: block;
}
.nav-account .dropdown-login {
  left: -200px;
  min-width: 290px;
  padding: 24px;
}
.nav-account .dropdown-login .tf-btn {
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.nav-account .dropdown-login .sub-top {
  display: grid;
  gap: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--line);
}
.nav-account .dropdown-login .sub-bot {
  padding: 16px 0px;
}
.nav-account .nav-icon-item {
  position: relative;
}
.nav-account .nav-icon-item::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 82px;
  display: none;
}

.has-menu-lv2 {
  position: relative;
}
.has-menu-lv2 .sub-menu_link {
  position: relative;
  justify-content: space-between;
}
.has-menu-lv2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  height: 120%;
  width: 50px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.has-menu-lv2:hover > .sub-menu_link .cus-text {
  color: var(--text);
}
.has-menu-lv2:hover > .sub-menu_link .cus-text::after {
  right: auto;
  left: 0;
  width: 100%;
}
.has-menu-lv2:hover::after {
  opacity: 1;
  visibility: visible;
}
.has-menu-lv2:hover .sub-menu-lv2 {
  --tranY: 0px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sub-menu-lv2 {
  --tranY: 10px;
  position: absolute;
  left: calc(100% + 37px);
  top: -22px;
  padding: 32px;
  background: var(--white);
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  border-radius: 16px;
  transform: translateY(var(--tranY));
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sub-menu-lv2 .sub-menu_list > li:first-child .sub-menu_link {
  padding-top: 0;
}
.sub-menu-lv2 .sub-menu_list > li:last-child .sub-menu_link {
  padding-bottom: 0;
}

/* ---------------------------------------------------------
    * Name: Amerce - Multipurpose eCommerce HTML Template
    * Version: 1.0.2
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Core CSS

    * Components
 ------------------------------------------------------------------------------ */
