/*------------ Landing ---------------- */
/*--------- Abstracts variable ---------- */
.body-landing {
  background: #0e0c0b;
  color: var(--white);
  padding: 0;
}
@media (max-width: 1199px) {
  .body-landing #goTop {
    bottom: 40px;
  }
}

.tf-header-landing {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) {
  .tf-header-landing {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0;
  }
}

.header-landing_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-landing_inner .group-btn {
  gap: 16px;
}
.header-landing_inner .item-link {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (max-width: 767px) {
  .header-landing_inner .logo {
    width: 130px;
  }
}

.body-item {
  position: absolute;
  width: 480px;
  height: 480px;
  background: #ff6242;
  opacity: 0.3;
  filter: blur(175px);
  border-radius: 40px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.body-item.pst-1 {
  left: -220px;
  top: -160px;
}
.body-item.pst-2 {
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

.bg-item-block {
  position: absolute;
}
.bg-item-block span {
  width: 480px;
  height: 480px;
  background: #ff6242;
  opacity: 0.3;
  filter: blur(175px);
  border-radius: 40px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  display: block;
}
.bg-item-block.pst-1 {
  left: 0;
  top: 100px;
}
.bg-item-block.pst-2 {
  right: 0;
  bottom: -13%;
}
.bg-item-block.pst-3 {
  right: 0;
  top: 40%;
}
.bg-item-block.pst-4 {
  left: 0;
  bottom: 3%;
}
.bg-item-block.pst-5 {
  right: 0;
  bottom: -20%;
}

.section-intro-landing {
  position: relative;
}
.section-intro-landing .bg-item-block {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 140%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.section-intro-landing .main-tag {
  padding: 4px 16px;
  border-radius: 100px;
  background: var(--primary);
  display: inline-flex;
}
.section-intro-landing .counter-grid {
  max-width: 811px;
  margin: 0 auto;
  padding-top: 10px;
}
.section-intro-landing .content {
  margin-bottom: 60px;
}
.section-intro-landing .intro-image {
  padding: 16px 20px 20px;
  border-radius: 20px;
  background: var(--white-10);
  border-top: 4px solid var(--primary);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-intro-landing .intro-image .image {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.section-intro-landing .intro-image .image img {
  min-height: 300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-intro-landing .intro-image .list-action {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  left: 15px;
  right: 15px;
}
.section-intro-landing .intro-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.section-intro-landing .intro-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 80px;
  background: linear-gradient(0deg, #ff6242, #ff6242);
  filter: blur(50px);
  opacity: 0.8;
  z-index: 0;
}
@media (min-width: 1200px) {
  .section-intro-landing .counter-grid {
    display: flex;
    gap: 100px !important;
    justify-content: center;
  }
}

.section-potent .s-desc {
  margin-bottom: 40px;
}
.section-potent .col-right {
  position: relative;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 30px;
  margin: 0 auto;
}
.section-potent .col-right .center {
  border-radius: 16px;
  width: 100%;
  padding: 58px 40px 34px;
  display: grid;
  place-items: center;
  text-align: center;
  background: var(--white-04);
}
.section-potent .col-right .top {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-potent .col-right .text-fast {
  background: #292a2d;
  padding: 4px 8px;
  border-radius: 6px;
}
.section-potent .main-perform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 48px;
  background: #292a2d;
  border-radius: 16px;
}
.section-potent .right-contact {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  background: #292a2d;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
.section-potent .right-author {
  position: absolute;
  left: 0;
  bottom: 19px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 18px;
  background: #292a2d;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  border-radius: 12px;
}
@media (min-width: 1200px) {
  .section-potent .col-left {
    max-width: 530px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .section-potent .col-right {
    max-width: 721px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .section-potent .main-perform {
    gap: 12px;
    padding: 20px;
  }
  .section-potent .col-right {
    padding-left: 0;
  }
  .section-potent .col-right .center {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .section-potent .main-perform {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .section-potent .col-right {
    padding-top: 30px;
    padding-right: 0;
  }
  .section-potent .col-right .top {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
}

.land-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 48px;
}
.land-heading.type-2 {
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1199px) {
  .land-heading {
    margin-bottom: 30px;
  }
}

.land-heading-2 {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .land-heading-2 {
    margin-bottom: 30px;
  }
}

.section-why-choose {
  position: relative;
}
.section-why-choose .bg-item-block {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 140%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.choose-grid .grid-item {
  padding: 20px;
  border: 1px solid var(--white-10);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.choose-grid .grid-item.item-1 {
  text-align: center;
}
.choose-grid .grid-item.item-2 {
  gap: 24px;
  padding: 23px;
}
.choose-grid .grid-item.item-2 .item_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.choose-grid .grid-item.item-2 .item_image {
  border-radius: 12px;
  overflow: hidden;
}
.choose-grid .grid-item.item-2 .item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 0.8047337278;
}
.choose-grid .grid-item.item-3, .choose-grid .grid-item.item-4 {
  text-align: center;
}
.choose-grid .grid-item .list-fe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 12px;
}
.choose-grid .grid-item .list-fe .item {
  width: calc(50% - 6px);
  display: grid;
  place-items: center;
  color: var(--white);
}
.choose-grid .grid-item .list-fe .img {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  max-width: 70px;
}
.choose-grid .grid-item .list-fe .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.choose-grid .grid-item.item-4 {
  padding-bottom: 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .choose-grid .grid-item.item-4 {
    padding-top: 40px;
  }
}
@media (max-width: 1439px) {
  .choose-grid .col-s1 .item_image {
    max-width: 200px;
  }
}
@media (max-width: 991px) {
  .choose-grid .col-s2 {
    order: 2;
  }
  .choose-grid .col-s3 {
    order: 1;
  }
  .choose-grid .grid-item.item-3 .item_image {
    max-width: 240px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .choose-grid .col-s2 {
    grid-column: 1/-1;
  }
}

.counter-home .number-count {
  font-size: clamp(80px, 10vw, 160px);
  line-height: calc(clamp(70px, 10vw, 160px) * 1.3);
}
@media (min-width: 992px) {
  .counter-home {
    margin-bottom: -30px;
  }
}

.tf-btn-landing {
  border: 1px solid var(--white-10);
  border-radius: 12px;
  height: 50px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.tf-btn-landing .text-btn {
  color: var(--white);
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.tf-btn-landing .overlay_text {
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.tf-btn-landing .overlay_text.s1 {
  background: linear-gradient(90deg, #ff9993, #81fbff, #ff9993);
  background-size: 200% 100%;
  animation: gradientFlow 2s linear infinite;
  inset: 0;
  border-radius: 11px;
  z-index: 1;
}
.tf-btn-landing .overlay_text.s2 {
  inset: 2px;
  border-radius: 10px;
  background: #262423;
  z-index: 2;
}
.tf-btn-landing:hover .overlay_text, .tf-btn-landing.active .overlay_text {
  opacity: 1;
  visibility: visible;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.posttype-filter {
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 16px;
  white-space: nowrap;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .posttype-filter {
    margin-bottom: 40px;
    justify-content: center;
  }
}

.card-demo {
  border: 1px solid var(--white-10);
  border-radius: 16px;
  padding: 23px;
  display: grid;
  gap: 24px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-demo.coming {
  pointer-events: none;
}
.card-demo.coming .demo-image {
  aspect-ratio: 1.34;
  background: #000;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  background: rgba(255, 255, 255, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-demo.coming .demo-image .text_coming {
  position: absolute;
}
.card-demo::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  border: 2px solid var(--primary);
  border-radius: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.card-demo .demo-image {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.card-demo .demo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-demo .demo-image .group-action {
  position: absolute;
  gap: 12px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-demo .demo-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: linear-gradient(180deg, rgba(223, 66, 66, 0) 20.58%, rgba(223, 66, 66, 0.5) 102.91%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}
.card-demo .demo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-demo .demo_tag {
  padding: 4px 12px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
}
.card-demo .demo_tag.hot {
  background: var(--primary);
}
.card-demo .demo_tag.trend {
  background: var(--yellow);
}
.card-demo .demo_tag.new {
  background: var(--pink);
}
.card-demo .demo-image .group-action {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.card-demo .demo-image .group-action .tf-btn {
  width: 100%;
}
.card-demo .demo-image::after {
  height: 0%;
  opacity: 0;
  visibility: hidden;
}
.card-demo:hover::after {
  opacity: 1;
  visibility: visible;
}
.card-demo:hover .demo-image .group-action {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.card-demo:hover .demo-image::after {
  height: 70%;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .card-demo .demo-image .group-action {
    margin: 0 auto;
    width: 50%;
  }
}
@media (max-width: 991px) {
  .card-demo .demo_tag {
    display: none;
  }
}
@media (max-width: 767px) {
  .card-demo {
    padding: 12px;
    gap: 12px;
  }
  .card-demo .demo-image img {
    aspect-ratio: 1.25;
  }
  .card-demo .demo-image .group-action {
    display: none;
  }
  .card-demo .demo-content {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .card-demo .demo_name {
    font-size: 20px;
  }
}

.demo-filter {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .demo-filter {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .demo-filter > * {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.card-device-mobile {
  padding: 19px;
  background: var(--white-10);
  border: 1px solid var(--white-10);
  border-radius: 16px;
  display: grid;
  gap: 20px;
  text-align: center;
}
.card-device-mobile .wrap-video {
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .card-device-mobile {
    padding: 12px;
    gap: 12px;
  }
}

.infiniteSlide-func .infiniteSlide-item {
  margin-left: 12px;
  margin-right: 12px;
}

.wg-func {
  padding: 15px 23px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--white-10);
  background: linear-gradient(103.12deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
}

.section-func {
  position: relative;
}
.section-func .infiniteSlide-func:not(:last-child) {
  margin-bottom: 24px;
}
.section-func::after, .section-func::before {
  content: "";
  position: absolute;
  width: 30%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.section-func::after {
  right: 0;
  background: linear-gradient(90deg, rgba(14, 12, 11, 0) 0.29%, #0e0c0b 56.23%);
}
.section-func::before {
  left: 0;
  background: linear-gradient(-90deg, rgba(14, 12, 11, 0) 0.29%, #0e0c0b 56.23%);
}
@media (max-width: 1439px) {
  .section-func::after, .section-func::before {
    width: 10%;
  }
}

.wg-exclusive {
  padding: 31px 15px;
  background: #262423;
  border-radius: 12px;
  text-align: center;
}
.wg-exclusive .image {
  margin-bottom: 12px;
}
.wg-exclusive .name {
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .wg-exclusive .image {
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-exclusive {
  background: linear-gradient(270deg, rgba(134, 60, 163, 0.12) 0%, rgba(229, 119, 112, 0.12) 100%);
}
.section-exclusive .col-right {
  display: flex;
  gap: 16px;
  -webkit-mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
  mask-mode: alpha;
  mask-repeat: no-repeat;
}
.section-exclusive .col-right > * {
  width: 50%;
}
@media (min-width: 1200px) {
  .section-exclusive .col-right {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .section-exclusive .col-left {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.infiniteSlide-exclusive {
  max-height: 780px;
}
.infiniteSlide-exclusive .infiniteSlide-item {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}
@media (max-width: 1199px) {
  .infiniteSlide-exclusive {
    max-height: 600px;
  }
}
@media (max-width: 991px) {
  .infiniteSlide-exclusive {
    max-height: 450px;
  }
}

.box-trusted {
  display: flex;
  align-items: center;
  gap: 12px;
}
.box-trusted .list-avt {
  display: flex;
  align-items: center;
}
.box-trusted .avt-item {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.box-trusted .avt-item:not(:last-child) {
  margin-right: -16px;
}

.section-trusted {
  position: relative;
}
.section-trusted .bg-img-item {
  display: flex;
}
@media (min-width: 1200px) {
  .section-trusted .sect-heading {
    margin-bottom: 60px;
  }
}

.banner-block-element {
  position: relative;
}
.banner-block-element .bn_title {
  margin-bottom: 40px;
}
.banner-block-element .bn-content {
  position: absolute;
  inset: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}
.banner-block-element .bn-image {
  position: relative;
}
.banner-block-element .bn-image .overlay {
  position: absolute;
  inset: 0;
  background: #0e0c0b;
  opacity: 0.7;
  z-index: 1;
}
.banner-block-element::after, .banner-block-element::before {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 15%;
  z-index: 3;
}
.banner-block-element::before {
  top: 0;
  background: linear-gradient(180deg, #0e0c0b 0.51%, rgba(14, 12, 11, 0) 100%);
}
.banner-block-element::after {
  bottom: 0;
  background: linear-gradient(0deg, #0e0c0b 0.51%, rgba(14, 12, 11, 0) 100%);
}
@media (max-width: 1439px) {
  .banner-block-element .bn-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 80vh;
  }
}

.banner-help {
  border: 1px solid var(--white-10);
  border-radius: 16px;
  padding: 60px 60px 60px 40px;
  gap: 54px;
  position: relative;
  overflow: hidden;
}
.banner-help .ov-item {
  position: absolute;
  width: 548px;
  height: 548px;
  top: -51px;
  background: #ff6242;
  opacity: 0.1;
  filter: blur(175px);
  border-radius: 40px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
@media (min-width: 992px) {
  .banner-help {
    display: flex;
    align-items: center;
  }
  .banner-help .bn-image {
    width: 50%;
  }
  .banner-help .bn-content {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .banner-help .bn-image {
    max-width: 540px;
    width: 100%;
  }
  .banner-help .bn-content {
    max-width: 716px;
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .banner-help {
    gap: 30px;
    padding: 30px;
  }
}
@media (max-width: 991px) {
  .banner-help .bn-image {
    margin-bottom: 30px;
  }
  .banner-help .bn-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tf-landing-footer {
  background: linear-gradient(270deg, rgba(229, 119, 112, 0.12) 0%, rgba(134, 60, 163, 0.12) 100%);
  position: relative;
  overflow: hidden;
}
.tf-landing-footer .bg-item {
  position: absolute;
  width: 548px;
  height: 548px;
  left: -201px;
  bottom: -89px;
  background: #ff6242;
  opacity: 0.2;
  filter: blur(175px);
  border-radius: 40px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.tf-landing-footer .col-right {
  display: flex;
  gap: 16px;
  -webkit-mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
  mask-mode: alpha;
  mask-repeat: no-repeat;
}
.tf-landing-footer .col-right > * {
  width: 50%;
}
@media (min-width: 1200px) {
  .tf-landing-footer .col-right {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .tf-landing-footer .col-left {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.benefit-list {
  display: grid;
  gap: 20px;
}
.benefit-list .benegit-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.benefit-list .icon {
  font-size: 24px;
}

.tf-landing-footer .col-left .logo-site,
.tf-landing-footer .col-left .s-title {
  margin-bottom: 32px;
}
.tf-landing-footer .col-left .benefit-list {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .tf-landing-footer .col-left .logo-site,
  .tf-landing-footer .col-left .s-title {
    margin-bottom: 24px;
  }
  .tf-landing-footer .col-left .benefit-list {
    margin-bottom: 32px;
  }
}

.wg-image-page {
  border-radius: 8px;
  overflow: hidden;
}
.wg-image-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 0.9696969697;
}

.section-prd-feature {
  position: relative;
  overflow: hidden;
}
.section-prd-feature .bg-item.item-1 {
  position: absolute;
  top: -40px;
  left: 26%;
  right: 26%;
  height: 80px;
  opacity: 0.6;
  border-radius: 40px;
  padding: 12px;
  background: linear-gradient(0deg, #ff6242, #ff6242);
  filter: blur(50px);
}

.land-feature-v01 {
  border-radius: 16px;
  border: 1px solid var(--white-10);
  padding: 20px;
  position: relative;
}
.land-feature-v01 .feature-image {
  border-radius: 12px;
  overflow: hidden;
}
.land-feature-v01 .feature-image_abs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.land-feature-v01.style-3 .image-right {
  position: absolute;
  top: 0;
  left: 67%;
  right: 0;
  bottom: 0;
}
.land-feature-v01.style-4 {
  padding: 0;
}
.land-feature-v01.style-4 .feature-content {
  padding: 20px;
}
@media (min-width: 1200px) {
  .land-feature-v01 {
    padding: 39px;
  }
  .land-feature-v01.style-2 {
    padding: 31px;
  }
  .land-feature-v01.style-3 {
    padding: 31px;
    display: flex;
  }
  .land-feature-v01.style-4 .feature-content {
    padding: 31px;
  }
}
@media (max-width: 1439px) {
  .land-feature-v01 .feature-image img {
    max-height: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .land-feature-v01.style-3 .left {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .land-feature-v01 {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .land-feature-v01 .feature-image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .land-feature-v01 .feature-image img {
    min-height: 300px;
  }
  .land-feature-v01 .left {
    display: flex;
    flex-direction: column;
  }
  .land-feature-v01:not(.has-img_abs) .feature-image {
    order: 1;
    margin-bottom: 24px !important;
  }
  .land-feature-v01:not(.has-img_abs) .feature-content {
    order: 2;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .land-feature-v01 .feature-image img {
    max-height: unset;
  }
}

@media (max-width: 991px) {
  .feature-grid_wrap {
    display: flex;
    flex-direction: column;
  }
  .feature-grid_wrap > * {
    height: 100%;
  }
}

.section-launch {
  position: relative;
}
.section-launch .launch-image {
  border-radius: 16px;
  overflow: hidden;
}
.section-launch .launch-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .section-launch .tab-btn-wrap-v3 {
    flex-direction: column;
  }
  .section-launch .land-heading {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .section-launch .col-left {
    margin-right: -30px;
  }
  .section-launch .col-right {
    padding-left: 70px;
  }
}

.bg-img-item {
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.section-demo-page {
  position: relative;
}
.section-demo-page .bg-item-block {
  display: flex;
  overflow: hidden;
  right: 0;
  pointer-events: none;
}

.wrapper-subscribe {
  display: flex;
  gap: 60px;
}
@media (max-width: 1199px) {
  .wrapper-subscribe {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .wrapper-subscribe {
    flex-direction: column;
    gap: 60px;
  }
}
@media (max-width: 575px) {
  .wrapper-subscribe {
    gap: 30px;
  }
}
.wrapper-subscribe .box-left {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-subscribe .box-left .box-btn {
  margin-top: 48px;
}
@media (max-width: 1199px) {
  .wrapper-subscribe .box-left .box-btn {
    margin-top: 30px;
  }
}
.wrapper-subscribe .banner-img {
  position: relative;
}
.wrapper-subscribe .notice-sale {
  position: absolute;
  left: 3px;
  display: flex;
  bottom: 110px;
  min-width: 290px;
  right: auto;
  top: auto;
  padding: 12px;
  gap: 10px;
  background: #292a2d;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.1215686275);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 8px;
}
@media (max-width: 575px) {
  .wrapper-subscribe .notice-sale {
    display: none;
  }
}
.wrapper-subscribe .notice-sale .pns-thumb {
  max-width: 46px;
  position: relative;
  width: 100%;
}
.wrapper-subscribe .notice-sale .pns-thumb .image {
  border-radius: 4px;
  overflow: hidden;
}
.wrapper-subscribe .notice-sale .purchase {
  padding: 4px;
  top: -6px;
  left: -6px;
  padding: 6px;
  background: var(--primary);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-subscribe .notice-sale .desc {
  font-size: 12px;
  line-height: 14px;
  color: var(--white-60);
}
.wrapper-subscribe .notice-sale .title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  color: var(--white);
}
.wrapper-subscribe .notice-sale .text-caption-01 {
  font-size: 12px;
  line-height: 14px;
  color: var(--white-60);
}
.wrapper-subscribe .notice-sale .tf-btn-line-2.style-primary {
  color: var(--white);
  background: linear-gradient(to right, var(--primary) 50%, var(--white) 50%);
  background-size: 200% 100%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s linear;
  font-size: 12px;
  line-height: 18px;
}
.wrapper-subscribe .notice-sale .tf-btn-line-2.style-primary::after {
  background-color: var(--white);
  height: 1px;
}
.wrapper-subscribe .notice-sale .tf-btn-line-2.style-primary::before {
  height: 1px;
}
.wrapper-subscribe .notice-sale .tf-btn-line-2.style-primary:hover {
  background-position: left;
}
.wrapper-subscribe .notice-sale .btn-cl-pop {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}
.wrapper-subscribe .notice-sale .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-subscribe .notice-sale .pns-content {
  width: 100%;
}
.wrapper-subscribe .note-cart {
  position: absolute;
  top: -25px;
  left: 43px;
}
@media (max-width: 575px) {
  .wrapper-subscribe .note-cart {
    display: none;
  }
}

.sib-form {
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.form-content_fieldset {
  display: flex;
  gap: 12px;
}
@media (max-width: 575px) {
  .form-content_fieldset {
    flex-direction: column;
  }
}

.form-get_email {
  border-width: 1px;
  border-style: solid;
  background: transparent;
  border: 0px solid var(--white-10);
  border-image: initial;
  padding: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 575px) {
  .form-get_email {
    border-radius: 10px;
  }
}
.form-get_email .fiedset-button_submit {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
}
.form-get_email .tf-btn {
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--white);
  color: var(--text);
}
.form-get_email .tf-btn:hover {
  background-color: var(--text);
  color: var(--white);
}
@media (max-width: 575px) {
  .form-get_email .tf-btn {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.form-get_email .ip input {
  backdrop-filter: blur(4px);
  height: unset;
  font-weight: 400;
  font-size: 16px;
  background: var(--white-10);
  border: 1px solid transparent !important;
  border-image: initial;
  border-radius: 999px;
  padding: 15px 23px !important;
  padding-right: 145px !important;
  width: 100%;
}

.form-get_email .ip input::placeholder {
  font-size: 16px;
}

#sib-container {
  background-color: transparent;
  padding: 0;
}

.sib-form-block {
  padding: 0;
  width: 100%;
}

.sib-form-block .tf-btn {
  width: 100%;
}

.fieldset-input_email {
  display: flex;
  flex-grow: 1;
}

.sib-form .entry__specification {
  margin: 0 !important;
}

.sib-form .entry__field {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
}

.sib-form .entry__field:focus-within {
  box-shadow: unset;
}

.section-form-subscribe .box-title {
  margin-bottom: 32px;
}

.entry__error {
  padding-left: 15px;
}

.menu-tab-line {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 15px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
  overflow: auto;
}
.menu-tab-line li {
  display: flex;
}
.menu-tab-line a {
  display: flex;
  justify-content: center;
  min-width: 190px;
  padding: 14px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 11px;
  overflow: hidden;
  position: relative;
}
.menu-tab-line a .tab-link_text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
}
.menu-tab-line a::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: linear-gradient(97.32deg, #866FE3, #4A885C, #866FE3);
  background-size: 200% 100%;
  animation: gradientFlow 2s linear infinite;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.menu-tab-line a.active {
  color: var(--white);
}
.menu-tab-line a.active::after {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2509803922) inset;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .menu-tab-line {
    margin-bottom: 30px;
  }
  .menu-tab-line a {
    padding: 10px;
    min-width: 150px;
  }
}

