/*------------ Footer ---------------- */
/*--------- Abstracts variable ---------- */
.tf-footer {
  padding-top: 60px;
}
.tf-footer .br-line.fake-class {
  position: absolute;
  left: 0;
  right: 0;
}
.tf-footer .tf-dropdown-select.type-currencies > .dropdown-menu {
  width: max-content !important;
}
@media (max-width: 425px) {
  .tf-footer .list-currenci {
    gap: 12px;
    place-items: center;
  }
}

.footer-inner {
  padding-bottom: 0;
}
@media (min-width: 576px) {
  .footer-inner {
    padding-bottom: 60px;
  }
}

.footer-heading {
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-menu-list {
  display: grid;
  gap: 8px;
}

.footer-bottom .text-copy {
  padding-bottom: 16px;
  text-align: center;
}
@media (min-width: 1440px) {
  .footer-bottom .text-copy {
    padding-top: 16px;
  }
}

@media (min-width: 576px) {
  .footer-wrap-1,
  .footer-wrap-2 {
    width: max-content;
  }
}

.footer-wrap-3 .form-sub {
  margin-bottom: 20px;
}
.footer-wrap-3 .footer-desc {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footer-wrap-3 {
    max-width: 400px;
    margin-left: auto;
  }
}

.footer-infor {
  margin-bottom: 28px;
}

.footer-bottom {
  position: relative;
}
.footer-bottom .inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px 8px;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-bottom .payment-list {
  gap: 8px;
  justify-content: flex-end;
}
.footer-bottom .tf-list {
  flex: 1;
}
@media (max-width: 991px) {
  .footer-bottom .text-nocopy {
    width: 100%;
    text-align: center;
  }
  .footer-bottom .tf-list {
    flex: unset;
    order: 1;
  }
}
@media (max-width: 767px) {
  .footer-bottom .inner-bottom {
    justify-content: center;
  }
}

.footer-col-block {
  margin-bottom: 28px;
}

@media (max-width: 575px) {
  .footer-heading-mobile {
    display: block;
    position: relative;
    padding-right: 20px;
    line-height: 24px;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer-heading-mobile::after {
    position: absolute;
    content: "";
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 1px;
    background-color: var(--text);
    transition: 0.25s ease-in-out;
  }
  .footer-heading-mobile::before {
    position: absolute;
    content: "";
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background-color: var(--text);
    transition: 0.25s ease-in-out;
  }
  .inner-right .footer-col-block .tf-collapse-content {
    margin-top: 20px;
  }
  .inner-right .footer-col-block .footer-heading {
    margin-bottom: 0px;
  }
  .inner-center .footer-col-block .tf-collapse-content {
    margin-bottom: 20px;
  }
  .footer-col-block {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--line);
  }
  .footer-col-block.open .footer-heading-mobile {
    margin-bottom: 12px;
  }
  .footer-col-block.open .footer-heading-mobile::before {
    opacity: 0;
  }
  .footer-col-block.open .footer-heading-mobile::after {
    transform: translate(0%, -50%) rotate(180deg);
  }
  .footer-col-block .tf-collapse-content {
    display: none;
  }
  .footer-col-block.type-white {
    border-color: var(--white-10);
  }
  .footer-col-block.type-white .footer-heading::after, .footer-col-block.type-white .footer-heading::before {
    background-color: var(--white);
  }
}
@media (min-width: 1200px) {
  .list-currenci {
    gap: 28px;
  }
}

.infiniteSlide-footer-text {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
.infiniteSlide-footer-text::after, .infiniteSlide-footer-text::before {
  content: "";
  position: absolute;
  width: clamp(100px, 10vw, 140px);
  z-index: 1;
}
.infiniteSlide-footer-text::before {
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}
.infiniteSlide-footer-text::after {
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}
.infiniteSlide-footer-text.type-2::before {
  background: linear-gradient(90deg, #103C29 0%, rgba(16, 60, 41, 0) 100%);
}
.infiniteSlide-footer-text.type-2::after {
  background: linear-gradient(270deg, #103C29 0%, rgba(16, 60, 41, 0) 100%);
}

.footer-s2 .footer-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}
.footer-s2 .footer-inner > .br-line:not(.fake-class) {
  height: 100%;
}
.footer-s2 .footer-inner > .br-line:not(.fake-class)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--white-10);
}
.footer-s2 .col-right {
  display: flex;
  gap: 60px;
  justify-content: center;
}
@media (min-width: 576px) {
  .footer-s2 .footer-wrap-4 {
    max-width: 320px;
  }
}
@media (min-width: 1440px) {
  .footer-s2 .footer-inner {
    padding-top: 80px;
  }
  .footer-s2 .col-right {
    gap: 100px;
  }
  .footer-s2.type-reverse .footer-inner > .br-line:not(.fake-class) {
    order: 2;
  }
  .footer-s2.type-reverse .col-right {
    gap: 140px;
    order: 1;
  }
  .footer-s2.type-reverse .col-right .footer-wrap-4 {
    order: 1;
  }
  .footer-s2.type-reverse .col-right .footer-wrap-1 {
    order: 2;
  }
  .footer-s2.type-reverse .col-right .footer-wrap-2 {
    order: 3;
  }
  .footer-s2.type-reverse .col-left {
    order: 3;
  }
  .footer-s2.type-reverse .footer-wrap-3 {
    max-width: 420px;
  }
}
@media (min-width: 576px) and (max-width: 1199px) {
  .footer-s2 .footer-inner .col-left {
    display: flex;
    gap: 20px;
  }
  .footer-s2 .footer-inner .col-left > * {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .footer-s2 .footer-inner {
    flex-direction: column;
  }
  .footer-s2 .footer-inner > .br-line:not(.fake-class) {
    display: none;
  }
  .footer-s2 .footer-inner .col-right {
    justify-content: space-between;
    gap: 20px;
  }
  .footer-s2 .footer-inner .col-right > * {
    width: 100%;
  }
  .footer-s2 .footer-wrap-3 {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .footer-s2 .col-right {
    flex-direction: column;
  }
  .footer-s2 .footer-inner {
    gap: 0;
  }
  .footer-s2 .footer-inner .col-right {
    gap: 0;
  }
}
@media (min-width: 1440px) {
  .footer-s2.v2 .col-right {
    gap: 80px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-s2.v2 .col-right {
    gap: 140px;
  }
}

.footer-s5 {
  background: var(--bg-3);
}
.footer-s5 .footer-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}
.footer-s5 .footer-inner > .br-line {
  height: 100%;
}
.footer-s5 .footer-inner > .br-line::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--white-10);
}
.footer-s5 .footer-inner > .br-line.cl-nor::after {
  background: var(--line);
}
.footer-s5 .footer-link-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-s5 .footer-wrap-3 {
  margin-left: 0;
}
@media (min-width: 576px) {
  .footer-s5 .footer-col-block {
    margin-bottom: 0;
  }
  .footer-s5 .footer-inner {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-s5 .footer-col-block.footer-wrap-start {
    max-width: 320px;
    width: 100%;
  }
  .footer-s5 .footer-col-block.footer-wrap-end {
    max-width: 400px;
    width: 100%;
  }
  .footer-s5 .col-left,
  .footer-s5 .col-right {
    flex: 1;
  }
  .footer-s5 .col-center {
    flex: 1.5;
  }
}
@media (min-width: 1440px) {
  .footer-s5 .footer-link-list {
    gap: 70px;
  }
  .footer-s5 .col-left,
  .footer-s5 .col-right,
  .footer-s5 .col-center {
    flex: unset;
  }
  .footer-s5.type-2 .footer-inner {
    padding-top: 80px;
  }
}
@media (min-width: 1600px) {
  .footer-s5 .footer-link-list {
    gap: 140px;
  }
}
@media (max-width: 1199px) {
  .footer-s5 .footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .footer-s5 .footer-inner > .br-line {
    display: none;
  }
  .footer-s5 .footer-inner .col-right {
    order: 1;
  }
  .footer-s5 .footer-inner .col-center {
    order: 2;
    grid-column: 1/-1;
  }
  .footer-s5 .footer-link-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 575px) {
  .footer-s5 .footer-link-list {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer-s5 .footer-inner {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.footer-hero-text {
  font-size: clamp(64px, 12vw, 230px);
  line-height: clamp(64px, 9.7vw, 174px);
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.footer-hero-text::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 60%;
  background: linear-gradient(360deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
  pointer-events: none;
}

